@import "@/assets/scss/_variables.scss";

@keyframes slide_down_fixed_top {
    0% {
      top: -$header-height;
    }
  
    100% {
        top: 0;
    }
}

@keyframes slide_up_fixed_top {
  0% {
    top: 0;
  }

  100% {
      top: -$header-height;
  }
}

@keyframes slide_left_fixed_top {
  0% {
    left:100%;
  }

  100% {
    left:0;
  }
}

@keyframes slide_down {
  0% {
    overflow-y: hidden;
    transform: translate(0, -30%);
    opacity: 0;
  }

  100% {
    
    transform: translate(0, 0%) scaleY(1);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade_out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade_up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade_down {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade_right {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade_left {
  0% {
    transform: translateX(2vw);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes stretch_right {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }

  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes zoom_in {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes up_down{
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(-10px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}